:root {
    --page-bg: #999999;
    --card-bg: #ffffff;
    --text-color: #333333;
    --text-muted: #777777;
    --text-soft: #555555;

    --primary-color: #007d7d;
    --primary-color-hover: #005f5f;

    --secondary-color: lightblue;

    --shadow:  4px 12px rgba(10,10,10 ,0.1);
}
body.dark{
    --page-bg: rgb(155,155,155);
    --card-bg: #222222;
    --text-color: #555555;
    --text-muted: #cccccc;
    --text-soft: #aaaaaa;

    --primary-color: #0be3e3;
    --primary-color-hover: #007d7d;

    --secondary-color: darkblue;
    --shadow:  4px 12px rgba(10,10,10 ,0.1);
}
body {
    font-family: Arial, sans-serif;
    background: var(--page-bg);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

}

.card {
    background: var(--card-bg);
    border-radius: 12px;
    padding: 2rem;
    width: 350px;
    text-align: center;
    box-shadow: 4px 12px rgba(10,10,10 ,0.1);
}
.card img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
}
h1 {
    margin: 0.5rem 0;
    font-size: 1.6rem;
    color: var(--text-color);
}
h2 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color:var(--text-soft);
}
#toggel-dark-mode {
    display: none;
    border-width: 0;
    margin: 0.5rem auto 0 auto;

}
#submit-btn{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    box-shadow: none;
    padding: 0.5rem 1rem;
    width: 100%;
}
.btn{
    display: inline-block;
    text-decoration: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: .5rem 1rem;
    border-radius: 6px;
    transition: background 0.3s;
}
.skill-btn{

}
.error-box{
    color: red;
    font-size: 0.7rem;
    margin-top: 0.2rem;
    text-align: left;
}
tr.error label {
    color: red;
}
tr.error input,
tr.error textarea {
    border: 1px solid red;
}
.btn:hover{
    background: var(--primary-color-hover);
}

.oneline-input{
    height: 1.5rem;
    width: 100%;
    margin-right: 5px;
}
#msg{
    height: 5rem;
    width: 100%;
    margin-right: 5px;
}

.text{
    width: auto;
    margin: 0 0.5rem ;
}


.job{
    color: var(--text-muted);
    margin-bottom: 1rem;
}
.about{
    font-size: 0.9rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.skills {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
}
.connect-form-table{
    background-color: rgb(200,200,200);
    width: 500px;
}
.skills li {
    background: var(--secondary-color);
    color: var(--primary-color);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.highlight {
    text-decoration: underline;
}